<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<html lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" th:href="@{resources/css/all.min.css}">
    <link rel="stylesheet" th:href="@{resources/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{resources/css/index.css}">
</head>
<body>
<h1 class=" add p-5 mt-5">Edit User Form</h1>
<div class="row container m-auto w-75 justify-content-center">
    <form action="/edit_user">
        <div class="col pb-2">
            <div class="form-group">
                <label for="id">User Id<span class="px-5  text-danger">Cannot be changed</span></label>
                <input type="text" name="id" id="id" class="form-control" th:value="${user.id}" th:readonly="true" >
            </div>
        </div>
        <div class="col pb-2">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="form-control" th:value="${user.firstName}" >
            </div>
        </div>
        <div class="col pb-2">
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" class="form-control" th:value="${user.lastName}">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" class="form-control" th:value="${user.email}">
            </div>
        </div>
        <div class="col">
            <div class=" d-flex justify-content-end">
                <a th:href="@{/cancel}" class=" mx-3 mt-4 text-center btn  btn-danger">Back</a>
                <button class=" px-3 mt-4 text-center btn  save" type="submit">Save</button>

            </div>
        </div>

    </form>
</div>
<script  th:src="@{resources/css/bootstrap.min.css}"></script>

</body>
</html>